.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.product-contianer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 10px;
}

.fa-icon {
    padding-right: 10px;
}